*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

:root{
    --bg-header: #255ee9;
    --bg-main: #f6f6f6;
    --bg-footer: #23272a;
    --text-primary-color: #fff;
    --text-secondary-color: #3e4144;

    --font-primary: "Heebo", sans-serif;
}


.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-px{
    margin: 2rem 0;
}

.container_header{
    background-color: var(--bg-header);
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
    .list{
        color: var(--text-primary-color);
        cursor: pointer;
        gap: 1.3rem;
        justify-content: center;
        list-style: none;
    }
    .btn_header{
        border: 1px solid transparent;
        border-radius: .8rem;
        padding: .4rem;
        font-weight: 600;
        cursor: pointer;
    }
}


.bg_main{
    background: url("../image/jumbo.png")no-repeat;
    background-size: cover;
    background-position: top bottom;
    padding: 3.1rem;
}

.highlight_main{
    padding: 2rem;
    width: 50%;
    text-align: center;
    color: var(--text-primary-color);
    .main_title{
        font-size: 2.5rem;
        padding-bottom: 1.5rem;
        font-weight: 700;
    }
    .highlight_text{
        padding: 1rem;
        line-height: 1.6rem;
    }
    .btn{
        background-color: var(--bg-footer);
        border: 1px solid transparent;
        border-radius: 1.3rem;
        color: var(--text-primary-color);
        cursor: pointer;
        font-size: 1rem;
        font-weight: 600;
        margin: 1rem 0;
        padding: .5rem 1.3rem;
        span{
            font-size: 1rem;
            padding-right: .3rem;
            font-weight: 600;
        }
    }

    .bg_btn{
        background-color: #fff;
        margin-right: 1.3rem;
        color: var(--text-secondary-color);
    }
    
}
/* container 01, 02, 03 bg blue */
.bg_blue_400{
    background-color: #1e90ff;
    width: 30%;
    height: 200px;
}
/* container 01, 02, 03 bg pink */
.bg_pink_300{
    background-color:rgb(249 168 212);
    width: 15%;
    height: 200px;
}
/* bg container 03 e 04 */
.bg_gray_400{
    background-color: #d3d3d3;
}
/* container 05 */
.content_05{
    height: 450px;
}

.bg_green_600{
    background-color: rgb(22 163 74);
    width: 45%;
    height: 90%;
}
/* container 06 */
.content_06{
    border-bottom: 2px solid #d3d3d3;
}

.bg_neutral_800{
    background-color: #23272A;
}

.bg_rose_500{
    background-color: #f08080;
    width: 15%;
    height: 280px;
}

.bg_teal_400{
    background-color: #20b2aa;
    width: 7.5%;
    height: 280px;
    border: 2px dotted #fff;
}

/* footer */
.footer_section{
    display: flex;
    justify-content: center;
}

.bg_teal_200{
    background-color: rgb(18, 248, 202);
    width: 45%;
    margin-top: 1rem;
    padding: .4rem 0;
    display: flex;
    justify-content: space-between;
}

.bg_pink_foot{
    background-color: rgb(249 168 212);
    padding: .2rem;
}